<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider
            android:name="dev.readflow.A01ExternalBookProvider"
            android:authorities="${applicationId}.a01bookprovider"
            android:exported="true"
            android:grantUriPermissions="true" />
        <provider
            android:name="dev.readflow.SafDocumentProvider"
            android:authorities="${applicationId}.safdocumentprovider"
            android:exported="true"
            android:grantUriPermissions="true" />
    </application>
</manifest>
